<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Detail</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/public/components/navbar.css">
</head>

<body>
    <!-- NAVIGATION PANNEL -->
    <nav id="nav-bar">
        <div id="hamberg-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div id="logo">
            <img src="../assets/logo.png" alt="" />
        </div>
        <div id="action-buttons">
            <div class="button button-user">
                <i class="far fa-user fa-lg"></i>
            </div>
            <div class="button">
                <i class="fas fa-search fa-lg"></i>
            </div>
            <div class="button">
                <div class="total-items">
                    <p>2</p>
                </div>
                <i class="fas fa-shopping-basket fa-lg"></i>
            </div>
        </div>
    </nav>
    <!-- PRODUCT DETAILS -->
    <section class="product-detail">
        <div class="product-detail-body">
            <div class="product-media-collection">

            </div>
        </div>
    </section>
</body>

</html>